:root{
    --Fraunces : 'Fraunces', serif;
    --Lato: 'Lato', sans-serif;
    --Oswald : 'Oswald', sans-serif;
    --color1: #c4a47c;
    --color2: #fff;
    --color3: #000000;
    --color4: #604829;
    --color5: #666;
    --color6: #ACACAC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.top{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    z-index: 1;
}

.top .logo > img{
    width: 70px;
}
.top nav{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: var(--Oswald) !important;
    font-weight: bold;
}
.top nav > ul{
    display: flex;
    gap: 10px;
}
li > a{
    text-shadow: 3px 3px black;
}

.banner{
    background-image: url('../imgs/parallax-imagem1.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}
.banner h1{
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    text-align: center;
    font-family: var(--Fraunces);
    font-weight: normal;
    font-size: 80px;
}

.information{

}

.firts{
    text-align: center;
    padding: 30px;
    margin: 50px auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.firts > h2{
    margin: 1px auto;
    font-size: 18px;
}
.firts > p{
    margin: 10px auto;  
    width: 63%;
    line-height: 32px;
    font-size: 14px;

}

.secondary{
    background-image: url(../imgs/parallax-imagem2.jpg);
    background-size: cover;
    
    height: 70vh;
    text-align: center; 
    font-style: italic;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.secondary > h3{
    padding: 1vh 2vw;
    font-weight: normal;
}

.fourth{
    background-image: url(../imgs/parallax-imagem3.jpg);
    background-size: cover;
    
    height: 70vh;
    text-align: center; 
    font-style: italic;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    background-image: url('../imgs/parallax-imagem4.png');
    background-size: cover;
}
.contacts > h2{
    letter-spacing: 5px;
    padding: 3px 50px;
}
.contacts >iframe{
    width: 80%;
}
.contacts .box{
    padding: 10px 40px;
    text-align: center;
    text-shadow: 3px 3px black;
    
}
.box > p{
    margin: 5px;

} 

.schedules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/cafeteria.jpg);
    background-size: cover;
    padding: 5vh;
}
.schedules ul > li{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 1vw auto;
} 

.schedules > h2 {
    margin: 15vh auto;
}

.line{
    width: 30vw;
    margin: 0 20px;
    border-bottom: 1px solid var(--color6);
}


.font-fraunces{
    font-family: var(--Fraunces);
}
.font-lato{
    font-family: var(--Lato);
}
.font-oswald{
    font-family: var(--Oswald);
}


.text-lightBrown{
    color: var(--color1) !important;
}
.text-light{
    color: var(--color2) !important; 
}
.text-gray{
    color: var(--color5) !important;
}
.text-brown{
    color: var(--color4) !important;
}

.back-brown{
    background-color: var(--color4) !important;
}
.back-light{
    background-color: var(--color2) !important;
}
.back-black{
    background-color: var(--color3) !important;
}